CalculatorWcf/CalcClientConsole/Service References/CalcServiceRef/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalcService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Negate_InputMessage">
    <wsdl:part name="parameters" element="tns:Negate" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Negate_OutputMessage">
    <wsdl:part name="parameters" element="tns:NegateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Sqrt_InputMessage">
    <wsdl:part name="parameters" element="tns:Sqrt" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Sqrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SqrtResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Power_InputMessage">
    <wsdl:part name="parameters" element="tns:Power" />
  </wsdl:message>
  <wsdl:message name="ICalcService_Power_OutputMessage">
    <wsdl:part name="parameters" element="tns:PowerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Add" message="tns:ICalcService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/AddResponse" message="tns:ICalcService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Substract" message="tns:ICalcService_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/SubstractResponse" message="tns:ICalcService_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Multiply" message="tns:ICalcService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/MultiplyResponse" message="tns:ICalcService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Divide" message="tns:ICalcService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/DivideResponse" message="tns:ICalcService_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Negate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Negate" message="tns:ICalcService_Negate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/NegateResponse" message="tns:ICalcService_Negate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Sqrt" message="tns:ICalcService_Sqrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/SqrtResponse" message="tns:ICalcService_Sqrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Power">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/Power" message="tns:ICalcService_Power_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/PowerResponse" message="tns:ICalcService_Power_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Negate">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Negate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sqrt">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Sqrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Power">
      <soap:operation soapAction="http://tempuri.org/ICalcService/Power" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://localhost:8733/CalcService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>